@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
    /* main background */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* card background */
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    /* accent */
    --soft-violet: hwb(277 36% 14%);

    /* main heading, stats */
    --white: hsl(0, 0%, 100%);
    /* main paragraph */
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /* stat headings */
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', 'Inter', sans-serif;
    font-size: 15px;
    color: #fff;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.content{
    flex-direction: row-reverse;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-desaturated-blue);
    border-radius: 15px;
}

.image_desktop{
    border-radius: 0 10px 10px 0;
    height: 100%;
}

.image_mobile{
    display: none;
}

.opacity_background{
    position: relative;
    display: flex;
}

.background{
    position: absolute;
    background-color:rgba(170, 92, 219, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 0 10px 10px 0;
}

.description{
    /* background-color: rgb(114, 114, 50); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.involves_description{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Inter';
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 2.2rem;
}

.description span{
    color: var(--soft-violet);
}

.paragraph{
    font-family: 'Inter';
    margin-bottom: 70px;
    color: var(--slightly-transparent-white);
    line-height: 1.5rem;
    font-weight: 100;
    max-width: 80%;   
}

.datas{
    width: 70%;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.data_content{
    display: flex;
    flex-direction: column;
}

.numbers{
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: bold;
}

.description_numbers{
    font-size: 0.9rem;
    margin-top: 8px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--slightly-transparent-white);
}

/* MEDIA QUERY MOBILE */

@media screen and (max-width: 959px){
    .content{
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .image_desktop{
        display: none;
    }

    .image_mobile{
        display: flex;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .background{
        border-radius: 10px 10px 0 0;
    }

    .title{
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .paragraph{
        max-width: 100%; 
        margin-bottom: 20px;
        font-size: 0.9rem;
        margin-bottom: 40px;
    }

    .datas{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .data_content{
        justify-content: center;
        align-items: center;
    }

    .numbers{
        font-size: 1.3rem;
    }

    .description_numbers{
        font-size: 0.8rem;
        margin-bottom: 15px;
        margin-top: 5px;
    }
}